.register-container{
    height: 85vh;
    overflow: hidden;
    width: 60%;
}

.scroll-container{
    height: 100%;
    overflow-y: scroll;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scroll-bontainer::webkit-scrollbar{
    display: none;
}

@media (max-width: 768px) {
    .register-container{
        width: 85%;
    }
}