.bodyModalAdicionarAlunos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contentModalAdicionarAlunos {
    color: #026cb8;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    gap: 12px;
}

.contentModalAdicionarAlunos.selected {
    background-color: #ccc;
    border-radius: 8px;
}

.ModalAdicionarAlunosNome {
    width: 35%;
}

.ModalAdicionarAlunosEmail {
    width: 35%;
}

.ModalAdicionarAlunosTelefone {
    width: 25%;
}

.dividerModalAdicionarAlunos {
    margin-top: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 1px;
    background-color: #026cb8;
}