.baseAuthContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.baseAuthLeft, .baseAuthRight{
    height: 100%;
    width: 50%;

    position: relative;
}

.baseAuthLeft{
    background: linear-gradient(#026CB8, #0D549A);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.baseAuthLeft .ellpinho{
    width: auto;
    height: 80vh;

    position: absolute;

    left: -15vw;
    bottom: -30vh;
}

.baseAuthRight {
    background-color: #FBFBFB;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .baseAuthContainer{
        flex-direction: column;
    }

    .baseAuthLeft, .baseAuthRight{
        width: 100%;
    }

    .baseAuthLeft{
        height: 12vh;
    }

    .baseAuthLeft .ellpinho{
        display: none;
    }

    .baseAuthLeft .logo{
        height: 8vh;
    }
}